*.log
*.pot
*.pyc
__pycache__
.flake8
#db.sqlite3
#media
#migrations

*.bak

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/contentModel.xml
.idea/**/gradle.xml
.idea/**/libraries

pip-log.txt
pip-delete-this-directory.txt

roomedia/.env
.venv
.env
env
env/
venv/
ENV/
env.bak/
venv.bak/