{% extends "main/base.html" %}
{% load static %}

{% block content %}
<main class="main-content site-wrapper-reveal">
    <!--== Start About Area ==-->
    <section class="about-area">
        <div class="container position-relative">
            <div class="row">
                <div class="col-lg-6">
                    <div class="thumb">
                        <img src="{% static 'assets/img/about/01.png' %}" alt="Roomedia-HasTech">

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <div class="section-title">
                            <h2 class="title"><span>About</span> Roomedia</h2>
                        </div>
                        <div class="accordian-content">
                            <div class="accordion" id="accordionStyle">
                                <div class="accordion-item">
                                    <div class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                            Who We Are
                                            <i class="icon icon-plus icon_plus"></i>
                                            <i class="icon icon-minus icon_minus-06"></i>
                                        </button>
                                    </div>
                                    <div id="collapseOne" class="accordion-collapse collapse show"
                                         aria-labelledby="headingOne"
                                         data-bs-parent="#accordionStyle">
                                        <div class="accordion-body">
                                            RooMedia is a Search Engine Marketing Company providing ser vices to Small &
                                            Medium size
                                            Businesses to grow and get more and more online traffic towards their
                                            websites. We bring
                                            advanced online marketing from the major cities to businesses right here
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">
                                            Our Mission
                                            <i class="icon icon-plus icon_plus"></i>
                                            <i class="icon icon-minus icon_minus-06"></i>
                                        </button>
                                    </div>
                                    <div id="collapseTwo" class="accordion-collapse collapse"
                                         aria-labelledby="headingTwo"
                                         data-bs-parent="#accordionStyle">
                                        <div class="accordion-body">
                                            To empower Small & Medium size Businesses with targeted Search Engine
                                            Marketing solutions, driving sustainable growth
                                            and maximizing online visibility. We are dedicated to bridging the gap
                                            between businesses and their digital potential,
                                            fostering success in local communities and beyond.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#collapseThree" aria-expanded="false"
                                                aria-controls="collapseThree">
                                            Our Vision
                                            <i class="icon icon-plus icon_plus"></i>
                                            <i class="icon icon-minus icon_minus-06"></i>
                                        </button>
                                    </div>
                                    <div id="collapseThree" class="accordion-collapse collapse"
                                         aria-labelledby="headingThree"
                                         data-bs-parent="#accordionStyle">
                                        <div class="accordion-body">
                                            As a pioneering force in Search Engine Marketing, our vision is to redefine
                                            the online landscape for Small & Medium size
                                            Businesses. We aspire to be the catalyst for digital transformation,
                                            seamlessly connecting businesses with their
                                            audience. Through innovative strategies and unwavering commitment, we
                                            envision a future where every business, regardless
                                            of size, thrives in the digital realm.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shape-layer">
                <div class="shape shape-one"></div>
                <div class="shape shape-two"></div>
                <div class="shape shape-three"></div>
                <div class="shape shape-four"></div>
                <div class="shape shape-five"></div>
                <div class="shape shape-six"></div>
                <div class="shape shape-eight"></div>
            </div>
        </div>
    </section>
    <!--== End About Area ==-->

    <!--== Start Contact Info Area Wrapper ==-->
    <section class="contact-info-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact-info-style contact-info-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="contact-info-item item-style-two pt-0">
                                    <div class="icon">
                                        <i class="icon_phone"></i>
                                    </div>
                                    <div class="content">
                                        <h4>Contact Us <br>By Phone</h4>
                                        <h3>095-47-41-81</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="contact-info-item">
                                    <div class="icon">
                                        <img src="{% static 'assets/img/icons/01.png' %}" alt="Icon">
                                    </div>
                                    <div class="content">
                                        <h4>Email Message</h4>
                                        <p>hello@roomedia.com</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="contact-info-item">
                                    <div class="icon">
                                        <img src="{% static 'assets/img/icons/02.png' %}" alt="Icon">
                                    </div>
                                    <div class="content">
                                        <h4>Open Hours</h4>
                                        <p>Mon-Sat: 8:00am - 5:00pm</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End  Contact Info Area Wrapper ==-->

    <!--== Start Why Choose Area ==-->
    <section class="why-choose-area bgcolor-f4" id="free_consultation">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-6 col-xxl-6">
                    <div class="content mb-md-60">
                        <div class="section-title xs-pr-15 pr-70">
                            <h2 class="title mb-sm-30 mb-55"><span>Why</span> Choose us</h2>
                            <p>RooMedia is a Search Engine Marketing Company providing services to Small & Medium size
                                Businesses to grow and get more and more online traffic towards their websites.</p>
                        </div>
                        <div class="feature-item">
                            <h5>Strong Martket Analysis</h5>
                            <p>Tasks, docs, and files integrate with Arado’s chat to close the gaps between feedback and
                                action.
                            </p>
                        </div>
                        <div class="feature-item">
                            <h5>Experience & Percision</h5>
                            <p>Create multiple discussions to keep all relevant conversations together, all in one place
                                with
                                Arado</p>
                        </div>
                        <div class="feature-item mb-0">
                            <h5>Experts About Business</h5>
                            <p>Create multiple discussions to keep all relevant conversations together, all in one place
                                with
                                Arado</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-6 col-xxl-5 offset-xxl-1">
                    <div class="form-consultation-style">
                        <h5>Free Consulation</h5>

                        <form class="form-consultation-wrapper" id="contact-form"
                              action="" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="full_name" id="exampleInputName"
                                               placeholder="Mesrop Mashtoc" required>
                                        <label for="exampleInputName" class="form-label">Full Name</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="phone" id="exampleInputPhone"
                                               placeholder="Enter your phone number" required>
                                        <label for="exampleInputPhone" class="form-label">Phone Number</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <select class="form-select" id="exampleInputSubject"
                                                aria-label="Default select example" required name="topic">
                                            <option selected>SMM</option>
                                            <option value="Menagement">Menagement</option>
                                            <option value="B2B">B2B</option>
                                            <option value="Other">Other</option>
                                        </select>
                                        <label for="exampleInputSubject" class="form-label">Topics</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group mb-0">
                          <textarea name="message" id="exampleInputMessage" rows="5"
                                    placeholder="Write your message here" required></textarea>
                                        <label for="exampleInputMessage" class="form-label">Message</label>
                                    </div>
                                </div>
                                <div class="col-md-12 text-center">
                                    <div class="form-group mb-0">
                                        <button class="btn btn-theme btn-block" type="submit">Send your message</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <!-- Message Notification -->
                </div>
            </div>
        </div>
    </section>
    <!--== End Why Choose Area ==-->

    <!--== Start Team Area ==-->
    <section class="team-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2 class="title"><span>Meet</span> Our Experts</h2>
                    </div>
                </div>
            </div>
            <div class="row row-gutter-70">
                {% for expert in experts %}
                <div class="col-lg-4">
                    <div class="team-member mb-md-60">
                        <div class="thumb">
                            <img src="{{ expert.img.url }}" alt="Image">
                            <div class="member-icons">
                                <a href="https://www.facebook.com/"><i class="social_facebook"></i></a>
                                <a href="https://www.instagram.com/"><i class="social_instagram"></i></a>
                                <a href="https://www.linkedin.com/"><i class="social_linkedin_square"></i></a>
                            </div>
                        </div>
                        <div class="content">
                            <div class="member-info">
                                <h4 class="name">
                                    <a href="#/">{{ expert.name }}</a>
                                </h4>
                                <h6 class="designation">{{ expert.title }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>

<!--== Start Footer Area Wrapper ==-->
<footer class="footer-area reveal-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 col-xl-3">
                <div class="widget-item mt-0">
                    <div class="about-widget">
                        <a class="footer-logo" href="{% url 'index' %}">
                            <img src="{% static 'assets/img/logo.png' %}" alt="Logo">
                        </a>
                    </div>
                    <div class="widget-copyright">
                        <p>© 2023 <span>RooMedia</span>. <br>Made with <i class="icon_heart"></i> by <a target="_blank"
                                                                                                        href="https://www.linkedin.com/in/arman-ghandilyan/">Arman
                            Ghandilyan</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="widget-item sm-pl-0 pl-70">
                    <h4 class="widget-title">Contact</h4>
                    <ul class="widget-contact-info">
                        <li class="info-address">Avanesov 8, Yerevan, Armenia</li>
                        <li class="info-mail"><a href="mailto://hello@roomedia.com">armanghandilyan977@gmail.com</a>
                        </li>
                        <li class="info-phone"><a href="tel://(605)2305253">095-47-41-81</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-lg-5 col-xl-5">
                <div class="widget-item widget-menu-wrap-item">
                    <nav class="widget-menu-wrap">
                        <ul class="nav-menu nav-menu-three nav">
                            <li><a href="{% url 'index' %}">Pages</a></li>
                            <li><a href="{% url 'services' %}">Services</a></li>
                            <li><a href="{% url 'portfolio' %}">Projects</a></li>
                            <li><a href="{% url 'blog' %}">Blog</a></li>
                        </ul>
                    </nav>
                    <div class="widget-social-icons social-icons-style-three">
                        <a href="https://www.facebook.com/"><i class="social social_facebook"></i></a>
                        <a href="https://www.pinterest.com/"><i class="social social_pinterest"></i></a>
                        <a href="https://vimeo.com/"><i class="social social_vimeo"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layer-shape">
        <img src="{% static 'assets/img/shape/foooter-shape-02.png' %}" alt="Boseo-Image">
        <img src="{% static 'assets/img/shape/foooter-shape-01.png' %}" alt="Boseo-Image">
    </div>
</footer>
<!--== End Footer Area Wrapper ==-->

<!--== Scroll Top Button ==-->
<div class="scroll-to-top"><span class="lnr lnr-chevron-up"></span></div>

<!--== Start Side Menu ==-->
<aside class="off-canvas-wrapper">
    <div class="off-canvas-inner">
        <div class="off-canvas-overlay"></div>
        <!-- Start Off Canvas Content Wrapper -->
        <div class="off-canvas-content">
            <!-- Off Canvas Header -->
            <div class="off-canvas-header">
                <div class="logo-area">
                    <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo.png' %}" alt="Logo"/></a>
                </div>
                <div class="close-action">
                    <button class="btn-close"><i class="lnr lnr-cross"></i></button>
                </div>
            </div>

            <div class="off-canvas-item">
                <!-- Start Mobile Menu Wrapper -->
                <div class="res-mobile-menu menu-active-two">
                    <!-- Note Content Auto Generate By Jquery From Main Menu -->
                </div>
                <!-- End Mobile Menu Wrapper -->
            </div>
            <!-- Off Canvas Footer -->
            <div class="off-canvas-footer"></div>
        </div>
        <!-- End Off Canvas Content Wrapper -->
    </div>
</aside>
<!--== End Side Menu ==-->
</div>

<!--=======================Javascript============================-->
<!--=== Modernizr Min Js ===-->
<script>
    document.addEventListener('DOMContentLoaded', function () {
      const hash = window.location.hash;
      if (hash) {
        const targetElement = document.querySelector(hash);
        if (targetElement) {
          targetElement.scrollIntoView({
            behavior: 'smooth'
          });
        }
      }
    });
</script>
<script src="{% static 'assets/js/modernizr.js' %}"></script>
<!--=== jQuery Min Js ===-->
<script src="{% static 'assets/js/jquery-main.js' %}"></script>
<!--=== jQuery Migration Min Js ===-->
<script src="{% static 'assets/js/jquery-migrate.js' %}"></script>
<!--=== Popper Min Js ===-->
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<!--=== Bootstrap Min Js ===-->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<!--=== jquery UI Min Js ===-->
<script src="{% static 'assets/js/jquery-ui.min.js' %}"></script>
<!--=== Plugin Collection Js ===-->
<script src="{% static 'assets/js/plugincollection.js' %}"></script>
<!--=== Isotope Min Js ===-->
<script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>


<!--=== Custom Js ===-->
<script src="{% static 'assets/js/custom.js' %}"></script>
{% endblock %}