{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roomedia</title>
    <link rel="shortcut icon" href="{% static 'assets/img/favicon.ico' %}" type="image/x-icon" />
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
    
    <div class="preloader-wrap">
        <div class="preloader">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <header class="header-area header-default sticky-header " style="background-color:#f0f2f4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-7 col-sm-4 col-md-4 col-lg-2">
                    <div class="header-logo-area">
                        <a href="{% url 'index' %}">
                            <img src="{% static 'assets/img/logo.png' %}" alt="Logo" />
                        </a>
                    </div>
                </div>
                <div class="col-5 col-sm-8 col-md-8 col-lg-10">
                    <div class="header-align">
                        <div class="header-navigation-area navigation-style-two">
                            <ul class="main-menu nav justify-content-center">
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li class="has-submenu"><a href="{% url 'index' %}">Pages</a>
                                    <ul class="submenu-nav">
                                        <li><a class="text-theme-color" href="{% url 'about' %}">About</a></li>
                                        <li><a href="{% url 'contact' %}">Contact</a></li>
                                    </ul>
                                </li>
                                <li class="has-submenu"><a href="{% url 'services' %}">Services</a>
                                    <ul class="submenu-nav">
                                        <li><a href="{% url 'services' %}">Services</a></li>
                                        <li><a href="{% url 'service_details' %}">Service Details</a></li>
                                    </ul>
                                </li>
                                <li class="has-submenu"><a href="{% url 'portfolio' %}">Projects</a>
                                    <ul class="submenu-nav">
                                        <li><a href="{% url 'portfolio' %}">Projects</a></li>
                                        <li><a href="{% url 'portfolio_details' %}">Projects Details</a></li>
                                    </ul>
                                </li>
                                <li class="has-submenu"><a href="{% url 'blog' %}">Blog</a>
                                    <ul class="submenu-nav">
                                        <li><a href="{% url 'blog' %}">Blog Grid</a></li>
                                        <li><a href="{% url 'blog_details' %}">Blog Single</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="header-action-area">
                            <button class="btn-menu d-lg-none">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                            <a class="btn-theme btn-two" onclick="redirectToConsultation()">Free Consultation</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% block content %}{% endblock content %}
    </div>
    <script>
        function redirectToConsultation() {
            const targetUrl = '{% url "about" %}';  
            const targetSectionId = 'free_consultation';
            const targetUrlWithHash = `${targetUrl}#${targetSectionId}`;
            window.location.href = targetUrlWithHash;
        }
    </script>

</body>
</html>