{% extends "main/base.html" %}
{%load static %}

      {% block content %}
      
      <main class="main-content site-wrapper-reveal">
        <!--== Start Page Title Area ==-->
        <section class="page-title-area">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="page-title-content text-center pb-lg-30 pb-80">
                  <h2 class="title">latest<span> from our blog</span></h2>
                  <div class="bread-crumbs pb-1"><a href="{% url 'index' %}">Home<span
                        class="breadcrumb-sep">/</span></a><span class="active">Blog</span></div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--== End Page Title Area ==-->

        <!--== Start Blog Area Wrapper ==-->
        <section class="blog-grid-area pb-1">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
                <div class="portfolio-filter-menu">
                  <button class="active" data-filter="*">All</button>
                  <button data-filter=".filterNews">News</button>
                  <button data-filter=".filterBusiness">Business</button>
                  <button data-filter=".filterTechnology">Technology</button>
                  <button data-filter=".filterCommunity">Community</button>
                  <button data-filter=".filterEvents">Events</button>
                  <button data-filter=".filterOthers">Others</button>
                </div>
              </div>
            </div>
            <div class="row masonryGrid">
              {% for post in latest_posts %}
              <div class="col-md-6 col-lg-4 masonry-item {{ post.cat }}">
                <div class="post-item">
                  <div class="thumb">
                    <a href="{% url 'blog_details' %}"> <img src="{{ post.img.url }}" alt="Roomedia-Blog"></a>
                    <a class="icon" href="{% url 'blog_details' %}">
                      <i class="lnr lnr-camera-video"></i>
                    </a>
                  </div>
                  <div class="content">
                    <h4 class="title">
                      <a href="{% url 'blog_details' %}">{{ post.title }}</a>
                    </h4>
                    <p>{{ post.content }}</p>
                    <div class="meta bottom meta-bottom">
                      <div>
                        <a class="category" href="{% url 'blog' %}"> <img src="{% static 'assets/img/icons/layer.png' %}" alt="Icon">
                          In <span>News</span></a>
                        <a class="post-date" href="{% url 'blog' %}"> <img src="{% static 'assets/img/icons/calender.png' %}"
                            alt="Icon"> {{ post.created_date }} </a>
                      </div>
                      <div class="post-share">
                        <a class="icon-share" href="#/"> <img src="{% static 'assets/img/icons/share.png' %}" alt="Icon"></a>
                        <ul>
                          <li><a class="color-facebook" href="https://www.facebook.com/"><i class="social_facebook"></i></a></li>
                          <li><a class="color-dribbble" href="https://dribbble.com/"><i class="social_dribbble"></i></a></li>
                          <li><a class="color-pinterest" href="https://www.pinterest.com/"><i class="social_pinterest"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
                <!--== End Blog Post Item ==-->              
              
            </div>

            <div class="row">
              <div class="col-lg-12 pb-xs-30 pb-sm-70 pb-100">
                <div class="pagination-area text-center lg-pt-0 sm-pb-0 pb-lg-30 pb-100">
                  <nav>
                    <ul class="page-numbers">
                      <li>
                        <span class="page-number current">1</span>
                      </li>
                      <li>
                        <a class="page-number" href="#">2</a>
                      </li>
                      <li>
                        <a class="page-number" href="#">3</a>
                      </li>
                      <li>
                        <a class="page-number" href="#">4</a>
                      </li>
                      <li>
                        <a class="page-number next" href="#">
                          <i class="arrow_carrot-right"></i>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--== End Blog Area Wrapper ==-->
      </main>

      <!--== Start Footer Area Wrapper ==-->
      <footer class="footer-area reveal-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-3 col-xl-3">
              <div class="widget-item mt-0">
                <div class="about-widget">
                  <a class="footer-logo" href="{% url 'index' %}">
                    <img src="{% static 'assets/img/logo.png' %}" alt="Logo">
                  </a>
                </div>
                <div class="widget-copyright">
                  <p>© 2023 <span>RooMedia</span>. <br>Made with <i class="icon_heart"></i> by <a target="_blank"
                      href="https://www.linkedin.com/in/arman-ghandilyan/">Arman Ghandilyan</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4">
              <div class="widget-item sm-pl-0 pl-70">
                <h4 class="widget-title">Contact</h4>
                <ul class="widget-contact-info">
                  <li class="info-address">Avanesov 8, Yerevan, Armenia</li>
                  <li class="info-mail"><a href="mailto://hello@roomedia.com">armanghandilyan977@gmail.com</a></li>
                  <li class="info-phone"><a href="tel://(605)2305253">095-47-41-81</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-10 col-lg-5 col-xl-5">
              <div class="widget-item widget-menu-wrap-item">
                <nav class="widget-menu-wrap">
                  <ul class="nav-menu nav-menu-three nav">
                    <li><a href="{% url 'index' %}">Pages</a></li>
                    <li><a href="{% url 'services' %}">Services</a></li>
                    <li><a href="{% url 'portfolio' %}">Projects</a></li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                  </ul>
                </nav>
                <div class="widget-social-icons social-icons-style-three">
                  <a href="https://www.facebook.com/"><i class="social social_facebook"></i></a>
                  <a href="https://www.pinterest.com/"><i class="social social_pinterest"></i></a>
                  <a href="https://vimeo.com/"><i class="social social_vimeo"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="layer-shape">
          <img src="{% static 'assets/img/shape/foooter-shape-02.png' %}" alt="Boseo-Image">
          <img src="{% static 'assets/img/shape/foooter-shape-01.png' %}" alt="Boseo-Image">
        </div>
      </footer>
      <!--== End Footer Area Wrapper ==-->

      <!--== Scroll Top Button ==-->
      <div class="scroll-to-top"><span class="lnr lnr-chevron-up"></span></div>

      <!--== Start Side Menu ==-->
      <aside class="off-canvas-wrapper">
        <div class="off-canvas-inner">
          <div class="off-canvas-overlay"></div>
          <!-- Start Off Canvas Content Wrapper -->
          <div class="off-canvas-content">
            <!-- Off Canvas Header -->
            <div class="off-canvas-header">
              <div class="logo-area">
                <a href="{% url 'index' %}"> <img src="{% static 'assets/img/logo.png' %}" alt="Logo" /></a>
              </div>
              <div class="close-action">
                <button class="btn-close"><i class="lnr lnr-cross"></i></button>
              </div>
            </div>

            <div class="off-canvas-item">
              <!-- Start Mobile Menu Wrapper -->
              <div class="res-mobile-menu menu-active-five">
                <!-- Note Content Auto Generate By Jquery From Main Menu -->
              </div>
              <!-- End Mobile Menu Wrapper -->
            </div>
            <!-- Off Canvas Footer -->
            <div class="off-canvas-footer"></div>
          </div>
          <!-- End Off Canvas Content Wrapper -->
        </div>
      </aside>
      <!--== End Side Menu ==-->
    </div>

    <!--=======================Javascript============================-->

    <!--=== Modernizr Min Js ===-->

    <script src="{% static 'assets/js/modernizr.js' %}"></script>
    <!--=== jQuery Min Js ===-->

    <script src="{% static 'assets/js/jquery-main.js' %}"></script>
    <!--=== jQuery Migration Min Js ===-->

    <script src="{% static 'assets/js/jquery-migrate.js' %}"></script>
    <!--=== Popper Min Js ===-->

    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <!--=== Bootstrap Min Js ===-->

    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!--=== jquery UI Min Js ===-->

    <script src="{% static 'assets/js/jquery-ui.min.js' %}"></script>
    <!--=== Plugin Collection Js ===-->

    <script src="{% static 'assets/js/plugincollection.js' %}"></script>
    <!--=== Isotope Min Js ===-->

    <script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>


    <!--=== Custom Js ===-->

    <script src="{% static 'assets/js/custom.js' %}"></script>

 {% endblock %}