{% extends "main/base.html" %}
{% load static %}

      {% block content %}
      
      <main class="main-content site-wrapper-reveal">
        <!--== Start Page Title Area ==-->
        <section class="page-title-area">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="page-title-content text-center pb-xs-30 pb-55">
                  <h2 class="title">Adventure SEO Website</h2>
                  <div class="bread-crumbs pb-1"><a href="{% url 'index' %}">Home<span
                        class="breadcrumb-sep">/</span></a><span class="active">Adventure SEO Website</span></div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--== End Page Title Area ==-->

        <!--== Start Portfolio Area ==-->
        <section class="portfolio-area pt-2">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="portfolio-item md-mb-0">
                  <div class="inner-content">
                    <div class="thumb">
                      <img src="{% static 'assets/img/portfolio/d01.jpg' %}" alt="Roomedia-Portfolio" />
                    </div>
                    <div class="portfolio-overview">
                      <div class="overview-title">
                        <h3 class="title mb-sm-30">Project Overview</h3>
                        <div class="social-icons">
                          <a class="color-facebook" href="https://www.facebook.com/"><i class="social social_facebook"></i></a>
                          <a class="color-instagram" href="https://www.instagram.com/"><i class="social social_instagram"></i></a>
                          <a class="color-dribbble" href="https://www.dribbble.com/"><i class="social social_dribbble"></i></a>
                        </div>
                      </div>
                      <div class="desc">
                        <div class="row">
                          <div class="col-lg-5 col-xl-7">
                            <p class="mr-80 lg-mr-0 mb-md-30">Get access to the direct Project Overview with this
                              report. Just by a quick glance, you’ll have an idea of the total tasks allotted to the
                              team, number of milestones given & completed, total Links created for the project and the
                              total time taken by all the users. Each section would elaborate the data further, if
                              chosen.</p>
                          </div>
                          <div class="col-lg-4 col-xl-3">
                            <ul class="pl-30 md-pl-0">
                              <li><span>Project Type:</span> Local SEO</li>
                              <li><span>Client:</span> Adventure SEO Website</li>
                            </ul>
                          </div>
                          <div class="col-lg-3 col-xl-2">
                            <ul class="ml-2 md-ml-0">
                              <li><span>Budget:</span> 2000$ - 3000$</li>
                              <li><span>Location:</span> Armenia </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="line-hr hr-style-2 mt-sm-20 mt-40"></div>
          </div>
        </section>
        <!--== End Portfolio Area ==-->

        <!--== Start Service Area ==-->
        <section>
          <div class="container">
            <div class="row divider-content-style1">
              <div class="col-lg-12 col-xl-6">
                <div class="thumb">
                  <img src="{% static 'assets/img/portfolio/d02.png' %}" alt="Image">
                </div>
              </div>
              <div class="col-lg-12 col-xl-5 offset-xl-1">
                <div class="content">
                  <div class="section-title">
                    <h2 class="title"><span>SEO Analysis Report</span></h2>
                    <p>In order to keep a track of the Social Media Performance of your projects, this report will do
                      just fine. This SMO Specific report analyses your presence on different Social Media platforms
                      covering all important metrics and permitting you to filter from the platforms you wish to see
                      along with the metrics finalized</p>
                    <p class="mb-0">This report helps up in analyzing the status of your project with all the analytical
                      details and link management activities. Just by a quick glance, one can have an idea of how the
                      project is going.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--== End Service Area ==-->
      </main>

      <!--== Start Footer Area Wrapper ==-->
      <footer class="footer-area reveal-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-3 col-xl-3">
              <div class="widget-item mt-0">
                <div class="about-widget">
                  <a class="footer-logo" href="{% url 'index' %}">
                    <img src="{% static 'assets/img/logo.png' %}" alt="Logo">
                  </a>
                </div>
                <div class="widget-copyright">
                  <p>© 2023 <span>RooMedia</span>. <br>Made with <i class="icon_heart"></i> by <a target="_blank"
                      href="https://www.linkedin.com/in/arman-ghandilyan/">Arman Ghandilyan</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4">
              <div class="widget-item sm-pl-0 pl-70">
                <h4 class="widget-title">Contact</h4>
                <ul class="widget-contact-info">
                  <li class="info-address">Avanesov 8, Yerevan, Armenia</li>
                  <li class="info-mail"><a href="mailto://hello@roomedia.com">armanghandilyan977@gmail.com</a></li>
                  <li class="info-phone"><a href="tel://(605)2305253">095-47-41-81</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-10 col-lg-5 col-xl-5">
              <div class="widget-item widget-menu-wrap-item">
                <nav class="widget-menu-wrap">
                  <ul class="nav-menu nav-menu-three nav">
                    <li><a href="{% url 'index' %}">Pages</a></li>
                    <li><a href="{% url 'services' %}">Services</a></li>
                    <li><a href="{% url 'portfolio' %}">Projects</a></li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                  </ul>
                </nav>
                <div class="widget-social-icons social-icons-style-three">
                  <a href="https://www.facebook.com/"><i class="social social_facebook"></i></a>
                  <a href="https://www.pinterest.com/"><i class="social social_pinterest"></i></a>
                  <a href="https://vimeo.com/"><i class="social social_vimeo"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="layer-shape">
          <img src="{% static 'assets/img/shape/foooter-shape-02.png' %}" alt="Boseo-Image">
          <img src="{% static 'assets/img/shape/foooter-shape-01.png' %}" alt="Boseo-Image">
        </div>
      </footer>
      <!--== End Footer Area Wrapper ==-->

      <!--== Scroll Top Button ==-->
      <div class="scroll-to-top"><span class="lnr lnr-chevron-up"></span></div>

      <!--== Start Side Menu ==-->
      <aside class="off-canvas-wrapper">
        <div class="off-canvas-inner">
          <div class="off-canvas-overlay"></div>
          <!-- Start Off Canvas Content Wrapper -->
          <div class="off-canvas-content">
            <!-- Off Canvas Header -->
            <div class="off-canvas-header">
              <div class="logo-area">
                <a href="{% url 'index' %}"> <img src="{% static 'assets/img/logo.png' %}" alt="Logo" /></a>
              </div>
              <div class="close-action">
                <button class="btn-close"><i class="lnr lnr-cross"></i></button>
              </div>
            </div>

            <div class="off-canvas-item">
              <!-- Start Mobile Menu Wrapper -->
              <div class="res-mobile-menu menu-active-four">
                <!-- Note Content Auto Generate By Jquery From Main Menu -->
              </div>
              <!-- End Mobile Menu Wrapper -->
            </div>
            <!-- Off Canvas Footer -->
            <div class="off-canvas-footer"></div>
          </div>
          <!-- End Off Canvas Content Wrapper -->
        </div>
      </aside>
      <!--== End Side Menu ==-->
    </div>

    <!--=======================Javascript============================-->

    <!--=== Modernizr Min Js ===-->

    <script src="{% static 'assets/js/modernizr.js' %}"></script>
    <!--=== jQuery Min Js ===-->

    <script src="{% static 'assets/js/jquery-main.js' %}"></script>
    <!--=== jQuery Migration Min Js ===-->

    <script src="{% static 'assets/js/jquery-migrate.js' %}"></script>
    <!--=== Popper Min Js ===-->

    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <!--=== Bootstrap Min Js ===-->

    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!--=== jquery UI Min Js ===-->

    <script src="{% static 'assets/js/jquery-ui.min.js' %}"></script>
    <!--=== Plugin Collection Js ===-->

    <script src="{% static 'assets/js/plugincollection.js' %}"></script>
    <!--=== Isotope Min Js ===-->

    <script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>


    <!--=== Custom Js ===-->

    <script src="{% static 'assets/js/custom.js' %}"></script>
      {% endblock %}